:root {
  --clr-black: hsl(0, 0%, 7%);
  --clr-dark-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-100: hsl(214, 17%, 92%);
  --clr-grey-200: hsl(0, 0%, 81%);
  --clr-grey-400: hsl(224, 10%, 45%);
  --clr-grey-500: hsl(217, 19%, 35%);
  --clr-purple-50: hsl(260, 100%, 95%);
  --clr-purple-300: hsl(264, 82%, 70%);
  --clr-purple-500: hsl(263, 55%, 52%);

  font-size: 10px;
  --fs-sm: 1.1rem;
  --fs-md: 1.3rem;
  --fs-lg: 2rem;
  --lh-sm: 1.1;
  --lh-md: 1.2;
  --lh-lg: 1.4;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 600;

  --spc-50: 0.4rem;
  --spc-100: 0.8rem;
  --spc-200: 1.6rem;
  --spc-300: 2.4rem;
  --spc-400: 3.2rem;
  --spc-500: 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testimonial {
  padding: var(--spc-400);
}

.testimonial__user--name {
  font-size: var(--fs-md);
  font-weight: var(--fw-med);
  line-height: var(--lh-sm);
}

.testimonial__user--status {
  font-size: var(--fs-sm);
  font-weight: var(--fw-med);
  line-height: var(--lh-sm);
}

.testimonial__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: var(--lh-md);
}

.testimonial__content {
  font-size: var(--fs-md);
  font-weight: var(--fw-med);
  line-height: var(--lh-lg);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
