:root {
  --clr-black: hsl(0, 0%, 7%);
  --clr-dark-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-100: hsl(214, 17%, 92%);
  --clr-grey-200: hsl(0, 0%, 81%);
  --clr-grey-400: hsl(224, 10%, 45%);
  --clr-grey-500: hsl(217, 19%, 35%);
  --clr-purple-50: hsl(260, 100%, 95%);
  --clr-purple-300: hsl(264, 82%, 70%);
  --clr-purple-500: hsl(263, 55%, 52%);

  font-size: 10px;
  --fs-sm: 1.1rem;
  --fs-md: 1.3rem;
  --fs-lg: 2rem;
  --lh-sm: 1.1;
  --lh-md: 1.2;
  --lh-lg: 1.4;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 600;

  --spc-50: 0.4rem;
  --spc-100: 0.8rem;
  --spc-200: 1.6rem;
  --spc-300: 2.4rem;
  --spc-400: 3.2rem;
  --spc-500: 4rem;

  --pad-reg: 3.2em;
  --pad-lg: 7em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-grey-100);
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
}

main {
  padding: var(--pad-lg) var(--pad-reg);
}

.testimonials-container {
  display: grid;
  gap: var(--spc-400);
}

.testimonial {
  padding: var(--spc-400);
  border-radius: var(--spc-100);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.testimonial--purple {
  background-color: var(--clr-purple-500);
  color: var(--clr-purple-50);
}

.testimonial--white {
  background-color: var(--clr-white);
  color: var(--clr-grey-400);
}

.testimonial--dark-grey {
  background-color: var(--clr-grey-500);
  color: var(--clr-grey-100);
}

.testimonial--dark-blue {
  background-color: var(--clr-dark-blue);
  color: var(--clr-grey-100);
}

.testimonial--dark-blue > div {
  color: var(--clr-white);
}

.testimonial--dark-blue > h1 {
  color: var(--clr-grey-200);
}

.testimonial--dark-grey > h1,
.testimonial--dark-grey > div > h2 {
  color: var(--clr-white);
}

.testimonial--white > h1,
.testimonial--white > div > h2 {
  color: var(--clr-grey-500);
}

.testimonial--purple > h1,
.testimonial--purple > div > h2 {
  color: var(--clr-white);
}

.testimonial--purple > div > img,
.testimonial--dark-blue > div > img {
  outline: solid 3px var(--clr-purple-300);
}

.testimonial__user {
  display: grid;
  grid:
    "img name"
    "img status" / min-content 1fr;
  column-gap: var(--spc-200);
}

.testimonial__user--image {
  width: 4.5rem;
  border-radius: 100%;
  grid-area: img;
}

.testimonial__user--name {
  font-size: var(--fs-md);
  font-weight: var(--fw-med);
  line-height: var(--lh-sm);
  grid-area: name;
  align-self: center;
}

.testimonial__user--status {
  font-size: var(--fs-sm);
  font-weight: var(--fw-med);
  line-height: var(--lh-sm);
  grid-area: status;
  align-self: center;
}

.testimonial__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: var(--lh-md);
  margin: var(--spc-200) 0;
}

.testimonial__content {
  font-size: var(--fs-md);
  font-weight: var(--fw-med);
  line-height: var(--lh-lg);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  padding: var(--spc-500);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  :root {
    --pad-reg: 6em;
    --pad-lg: 8em;
  }
  .testimonials-container {
    grid:
      "card1 card1"
      "card2 card3"
      "card4 card4"
      "card5 card5" / 1fr 1fr;
  }
  .testimonial:nth-child(1) {
    grid-area: card1;
    position: relative;
  }

  .testimonial:nth-child(1)::before {
    content: "";
    position: absolute;
    left: 60%;
    top: 0;
    width: 10.4rem;
    height: 10.4rem;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .testimonial:nth-child(2) {
    grid-area: card2;
  }
  .testimonial:nth-child(3) {
    grid-area: card3;
  }
  .testimonial:nth-child(4) {
    grid-area: card4;
  }
  .testimonial:nth-child(5) {
    grid-area: card5;
  }

  .testimonial__title {
    z-index: 1;
    position: relative;
    max-inline-size: 60ch;
  }
}
@media (min-width: 1200px) {
  :root {
    --pad-reg: 12em;
    --pad-lg: 14em;
  }
  .testimonials-container {
    grid:
      "card1 card1 card2 card5"
      "card3 card4 card4 card5"
      / 1fr 1fr 1fr 1fr;
  }
  .testimonial:nth-child(1) {
    grid-area: card1;
    position: relative;
  }
  .testimonial:nth-child(2) {
    grid-area: card2;
  }
  .testimonial:nth-child(3) {
    grid-area: card3;
  }
  .testimonial:nth-child(4) {
    grid-area: card4;
  }
  .testimonial:nth-child(5) {
    grid-area: card5;
  }
}
